@import url("./assets/styles/variables.css");

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
}

*{
    box-sizing: border-box;
}

.react-tooltip{
    height: 36px;
    display: flex;
    align-items: center;
}

.react-tooltip p {
    font-weight: 700;
    font-family: "Inter-medium", sans-serif;
    margin-right: 5px;
}

.react-tooltip span{
    font-family: "Inter-medium", sans-serif;
    font-weight: 400;
}