:root{
    --blue: 45, 98, 237;
    --white: #ffffff;
    --darkColor: #4B4B4B;
    --gray: #DFDFDF;
    --e3Gray:#E3E3E3;
    --lightBlue: #9EB9FF;
    --edGray: #EDEDED;
    --ccGray: #CCCACA;
    --fGray: #6F6F6F;
    --f8Gray: #F8F8F8
}